.container {
    margin-top: 60px;
    color: black;
}

footer {
    margin-top: 10px;
    padding: 10px 10px 0 10px;
    background-color: lightgray;
    color: black;
    margin-bottom: 0px;
}

.footer-icon {
    padding-right: 10px;
}

.card-hotel {
    flex: 1 200px;
    margin-top: 10px;
}

.btn-reserva {
    width: 100%;
    border-radius: 0;
}

.oi-check {
    padding-right: 10px;
}