.container {
  margin-top: 60px;
  margin-bottom: 0px;
  color: black; }

footer {
  padding: 10px 10px 0 10px;
  background-color: #cfcf4e;
  color: black;
  margin-top: 10px;
  margin-bottom: 0px; }

.footer-icon {
  padding-right: 10px; }

.card-hotel {
  flex: 1 200px;
  margin-top: 10px;
  margin-bottom: 0px; }

.btn-reserva {
  width: 100%;
  border-radius: 0; }

.oi-check {
  padding-right: 10px; }
