$yellow: #ccccc5;
$red: #e22b2b;
$green: #20e641;

@mixin margenes($top, $bottom) {
    margin-top: $top;
    margin-bottom: $bottom;
}


.container {
    @include margenes(60px, 0px);
    color: black;
}

footer {
    padding: 10px 10px 0 10px;
    background-color: $yellow;
    color: black;
    @include margenes(10px, 0px);
}

.footer-icon {
    padding-right: 10px;
}

.card-hotel {
    flex: 1 200px;
    @include margenes(10px, 0px);
}

.btn-reserva {
    width: 100%;
    border-radius: 0;
}

.oi-check {
    padding-right: 10px;
}